<div class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <ng-template ngFor let-item let-idx="index" [ngForOf]="items">
      <button [attr.aria-label]="item.title" type="button" (click)="onMoveToSlide(idx)" class="carousel-indicator"
        [class.active]="isActivated(idx)" [attr.aria-current]="isActivated(idx)"></button>
    </ng-template>
  </div>
  <div class="carousel-inner" [@activatedIndex]="activatedIndex">
    <ng-template ngFor let-item let-idx="index" [ngForOf]="items">
      <ng-container [ngTemplateOutlet]="itemTpl"
        [ngTemplateOutletContext]="{$implicit: item, index: idx }"></ng-container>
    </ng-template>
    <ng-template let-item let-index="index" #itemTpl>
      <div class="carousel-item active" *ngIf="isActivated(index)">
        <ng-template [ngIf]="item.image">
          @defer (on viewport) {
          <img [src]="item.image" loading="lazy" class="d-block m-auto" />
          } @placeholder(minimum 100ms) {
          <div class="align-items-center d-flex h-100 justify-content-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          } @loading {
          <div class="align-items-center d-flex h-100 justify-content-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          } @error {
          <div></div>
          }

        </ng-template>
        <div class="carousel-caption">
          <h5><a class="text-decoration-none" [href]="item.routeLink">{{item.title}}</a></h5>
          <p>{{item.description}}</p>
        </div>
      </div>
    </ng-template>
  </div>
  <button class="carousel-control-prev" type="button" (click)="onPrevClicked()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" (click)="onNextClicked()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>