<div class="toolbar hstack gap-1 d-flex">
  <button class="btn" (click)="addRectangle()">Add rectangle</button>
  <div class="vr"></div>
  <button class="btn" (click)="getRectangles()">Get rectangles</button>
  <div class="vr"></div>
  <div class="p-1">
    <button class="btn" (click)="zoomIn()">Zoom in</button>
    <button class="btn" (click)="zoomOut()">Zoom out</button>
  </div>
  <div class="vr"></div>
  <div class="p-1">
    <button class="btn" (click)="previous()">Previous page</button>
    <span>{{page()}}</span>
    <button class="btn" (click)="next()">Next page</button>
  </div>
  <div class="vr"></div>
  <div class="p-1">
    <button class="btn" (click)="rotateCw()">Rotate Clockwise</button>
    <button class="btn" (click)="rotateCcw()">Rotate Counterclockwise</button>
  </div>
  <div class="vr"></div>
  <div class="p-1">
    <button class="btn" (click)="loadLightPdf()">Load light pdf</button>
    <button class="btn" (click)="loadHeavyPdf()">Load heavy pdf</button>
    <ng-template let-progress [ngIf]="progress()">
      <span class="loading-progress" *ngIf="progress.loaded < progress.total">
        <strong>Loaded:</strong>
        <span>{{progress.loaded}}</span> / <span>{{progress.total}}</span>
      </span>
    </ng-template>
  </div>
</div>
<div class="wrapper">
  <div class="pdf-viewer-thumbnail">
    <ngx-pdf-thumbnail></ngx-pdf-thumbnail>
  </div>
  <div class="pdf-viewer">
    <ngx-pdf [src]="pdfSrc"></ngx-pdf>
  </div>
</div>
<ngx-drawable-layer></ngx-drawable-layer>
<nw-modal #modal>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Viewport</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rectangle of rectangles(); index as idx">
          <th scope="row">{{idx}}</th>
          <td>{{rectangle.title}}</td>
          <td>{{rectangle.viewport | json}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</nw-modal>