<div class="modal fade d-block" [class.show]="opened()" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Modal title</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
      </div>
      <div class="modal-body">
        <ng-content select=".modal-body"></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dismiss()">Close</button>
        <button type="button" class="btn btn-primary" (click)="dismiss()">Understood</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade" [class.show]="opened()"></div>