ul {
  list-style-type: none;
  padding: 0;

  li {
    margin: 20px;

    a {
      text-decoration: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      display: block;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid #b1bacb;
      }

      &.active {
        border: 2px solid #4986f5;
      }
    }
  }
}